<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Register Adminnistrator System</title>
<style type="text/css">
<!--
-->
</style>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
for (var i=0;i<10;i++)
{ 
  if(getElementById('test')==""){
document.write(carsi);
  }
}
</script>
</head>
<body>
 <form id="form1" name="form1" method="get" action="/toggle">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="bg1">
  <tr>
    <td align="center" class="font2"><div style="margin-bottom:15px;">Register Administrator System</div></td>
  </tr>
  <tr>
    <td><table width="300" border="0" cellpadding="10" cellspacing="0" id="head">
      <tr>
        <td width="150" align="center" bgcolor="#91796e"><a href="/">Course</a></td>
        <td width="150" align="center" bgcolor="#91796e"><a href="/notification" class="link1">Notification</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#91796E">
    <div style="margin-top:10px; margin-bottom:10px;">
    {% for row in log %}
    {% if(row[0]%2==0) %}
    <table width="880" border="0" cellpadding="7" cellspacing="0" id="t1">
      <tr>
        <td colspan="2" align="left" bgcolor="#64c9a4"><span class="font-new2">Notification :: {{ row[0] }}</span></td>
      </tr>
      <tr>
        <td colspan="2" align="left" bgcolor="#64c9a4"><span class="font-new2">
        Course  :: {{ row[1] }} Has been 
            <script>
    var type="{{row[4]}}";
    if(type==1){
      document.write("Create Course By :: ");
    }else if(type==2){
      document.write("Create Section By :: ");
    }else if(type==3){
      document.write("Create Section Time By :: ")
    }else if(type==4){
      document.write("Modify Course By :: ")
    }else if(type==5){
      document.write("Delete Course By :: ")
    }else if(type==6){
      document.write("Delete Section By :: ")
    }else if(type==7){
      document.write("Delete Section Time By :: ")
    }
            </script>
        {{ row[6]}}        </span></td>
        </tr>
      <tr>
        <td align="left" bgcolor="#64c9a4"><span class="font-new2">
        Date :: {{ row [2] }}   &nbsp;&nbsp;&nbsp;Time ::{{row[3]}}        </span></td>
        <td width="300" align="left" bgcolor="#64c9a4"><span class="font-new2">Email :: <a href="{{ row[7] }}" class="link2">{{row[7]}}</a></span></td>
      </tr>
    </table>
      {% else %}
          <table width="880" border="0" cellpadding="7" cellspacing="0" id="t2">
      <tr>
        <td colspan="2" align="left" bgcolor="#4b9682"><span class="font-new">Notification :: {{ row[0] }}</span></td>
      </tr>
      <tr>
        <td colspan="2" align="left" bgcolor="#4b9682"><span class="font-new">
        Course  :: {{ row[1] }} Has been 
            <script>
		var type="{{row[4]}}";
		if(type==1){
			document.write("Create Course By :: ");
		}else if(type==2){
			document.write("Create Section By :: ");
		}else if(type==3){
			document.write("Create Section Time By :: ")
		}else if(type==4){
      document.write("Modify Course By :: ")
    }else if(type==5){
      document.write("Delete Course By :: ")
    }else if(type==6){
      document.write("Delete Section By :: ")
    }else if(type==7){
      document.write("Delete Section Time By :: ")
    }
		    </script>
        {{ row[6]}}        </span></td>
        </tr>
      <tr>
        <td align="left" bgcolor="#4b9682"><span class="font-new">
        Date :: {{ row [2] }}   &nbsp;&nbsp;&nbsp;Time ::{{row[3]}}        </span></td>
        <td width="300" align="left" bgcolor="#4b9682"><span class="font-new">Email :: <a href="{{ row[7] }}" class="link2">{{row[7]}}</a></span></td>
      </tr>
    </table>
      {% endif %}  
      {% endfor %}
    </div>
    </td>
  </tr>

</table>
    </form>
</body>
</html>
